body {
    display: flex;
}

.left-square {
    display: flex;
    border: solid 1px;
    text-align: center;
    width: 620px;
    height: 960px;
}

.right-square {
    border: solid 1px;
    text-align: center;
    width: 600px;
    height: 960px;
}

.mid-square {
    border: solid 1px;
    text-align: center;
    width: 620px;
    height: 960px;
}

.p-button {
    text-align: center;
    margin-top: 10px;
    height: 30px;
}